.metadata
Servers
**/classes
**/gensrc
**/jalo
**/testclasses
**/addons
**/eclipsebin
**/build.xml
**/extensioninfo.xsd
**/platformhome.properties
**/hmc.xsd
**/beans.xsd
**/items.xsd
**/*.-testclasses.xml
**/*.-webtestclasses.xml
**/.DS_Store

rebel.xml
.pmd
.springBeans
**/*.eml
**/*.iml

*.class
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log

.idea/
.idea/*
workspace

